/* ===Global Styles=== */
/* ------------------------------------------- */
body {
  background: #687b8f url(/app/img/body-bg-01-winter.gif) left top repeat;
  color: #222;
}
a,
a:link {
  color: #10345a;
}
a:visited {
  color: #10345a;
}
a:hover {
  color: #10345a;
  text-decoration: none;
}
input.text {
  border: 1px solid #666;
}
textarea {
  border: 1px solid #666;
}
/* ===Layout Styles=== */
/* ------------------------------------------- */
div#whopper {
  background: transparent url(/app/img/whopper-bottom-01-winter.gif) left bottom no-repeat;
}
div#w3 {
  background: transparent url(/app/img/whopper-top-01-winter.gif) left top no-repeat;
}
div#w2 {
  background: transparent url(/app/img/whopper-bg-01-winter.gif) left top repeat-y;
}
/* ===Header Styles=== */
/* ------------------------------------------- */
div#header {
  background: #6294cc url(/app/img/header-bg-01-winter.jpg) top left no-repeat;
}
/* ===Navigation Styles=== */
/* ------------------------------------------- */
div#nav {
  background: #1a497d url(/app/img/nav-bg-01-winter.gif) left top repeat-x;
  border-top: 1px solid #6294cc;
  border-bottom: 1px solid #10345a;
}
div#nav a {
  color: #eee;
  text-shadow: 2px 2px 2px #111;
}
div#nav a:hover {
  color: #cfe3fa;
}
div#nav li.current a {
  color: #9dc4ef;
}
body.home div#nav li.home a,
body.sizing div#nav li.sizing a,
body.faq div#nav li.faq a,
body.contact div#nav li.contact a {
  color: #9dc4ef;
}
/* ===Main Styles=== */
/* ------------------------------------------- */
div#main {
  background: #ecf0f6 url(/app/img/main-bg-01-winter.gif) left top repeat-y;
}
div#m2 {
  /* background: transparent url(/app/img//app/img/siskiwit/luke-shadow-01.png) right bottom no-repeat; */
}
/* ===Footer Styles=== */
/* ------------------------------------------- */
div#footer {
  text-align: center;
  color: #ddd;
  background: #24476d url(/app/img/footer-bg-01-winter.gif) left top repeat-x;
  border-top: 1px solid #6294cc;
  border-bottom: 1px solid #10345a;
}
div#footer a {
  color: #eee;
  text-decoration: none;
}
div#footer a:hover {
  text-decoration: underline;
  color: #fff;
}
/* ===Content Styles=== */
/* ------------------------------------------- */
table.shirtSizing {
  margin-left: 46px;
  border: 1px solid #aaa;
  border-width: 1px 1px 0 1px;
}
table.shirtSizing td,
table.shirtSizing th {
  padding: 4px;
  text-align: center;
  border-bottom: 1px solid #aaa;
}
table.shirtSizing td {
  background-color: #ecf2f8;
}
table.shirtSizing th {
  background-color: #cddae7;
}
table.shirtSizing tr.alt th {
  background-color: #bfd3e7;
}
table.shirtSizing tr.alt td {
  background-color: #dae9f8;
}
/* ===Horizontal Rule Styles=== */
/* ------------------------------------------- */
/* ===Sidebar Styles=== */
/* ------------------------------------------- */
